/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*.grid {
  border: 5px black solid;
  border-spacing: 10px;
  border-collapse: collapse;
  table-layout: fixed;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px black dotted;
}
*/

/* Style at your discretion */
 
.grid {
  border: 5px black solid;
}
 
.tile {
  border: 1px gray dotted;
  width:  70px;
  height: 70px;
}
 
.terrain {
  width:  100%;
  height: 100%;
}
 
.unit {
  width:  70%;
  height: 70%;
}
 
 
/* Necessary for proper grid display without weird gaps and shit */
 
.grid {
  border-collapse: collapse;
}
 
.tile {
  padding:  0;
}
 
.tile img {
  margin:   auto;
  display:  block;
}
 
 
/* Necessary to overlay unit on terrain */
 
.tile {
  position: relative;
}
 
.tile img {
  position: absolute;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;
}
 
.terrain {
  z-index:  0;
}
 
.unit {
  z-index:  1;
}